$white: #fff;
$alabaster: #f1f1f1;
$gray: #616060;
$onyx: #2e2d2d;

$seafoam: #83B69B;
$sherbert: #FAC581;
$fuscia: #B84369;
$splitpea: #C5C380;
$moss: #5C5A30;

$tag_colors: (
  '1': $seafoam,
  '2': $sherbert,
  '3': $fuscia,
  '4': $splitpea,
  '5': $moss,
  '6': $gray
);


@function get-color($color_code: r) {
  @return map-get($tag_colors, $color_code);
}

@each $background, $color_code in $tag_colors {
  .tag-#{$background} {
    border: 2px solid get-color($background);

    &:hover {
      background: lighten($alabaster, 2%);
      border: 2px solid get-color($background);
      color: get-color($background);
    }
  }
}
