// colors 
$white : #FAFAFA;
$gray : #acacac;
$egg : #FBEEC2;
$tan : #C1B398;
$chocolate : #605951;
$aqua : #61A6AB;
$mint : #ACCEC0;
$black : #3f3f3f;

// base styles 

html { background: transparent;}

body {
	background: url("../img/squares.png") repeat #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 16px;
   	line-height: 24px;
   	color: $black;
}

a {
	color: $aqua;
	text-decoration: none;
	@include transition(color .5s ease-in );
	
	&:hover {
		color: $mint;
	}
}

// typography 

@mixin jura_reg {
	font-family: 'juraregular';
}
@mixin jura_bold {
	font-family: 'jurabold';
}
@mixin jura_ital {
	font-family: 'juraitalic';
}

h1,
h2,
h3, 
h4 { 
	@include jura_reg;
}
h1 {
	font-size: 2em;
	line-height: 1.5em;
}

h3 {
	color: $chocolate;
	font-size: 1.25em;
}


hr {
	display: block;
	height: 1px;
	width: 100%;
	margin: 0.5em 0;
	padding: 0;
	border-top: 1px dotted $tan;
}

ul {
	list-style: circle;
}

// layout 

.wrap {
	@include outer_container;
	background: $white;
	margin-top: 40px;
	padding: 0 1em;
	@include border-radius(7px);
}

section {
	
}

.intro {
	@include span-columns(12);
	@include clearfix;
	margin-bottom: 2em;

	h1 {
		@include jura_bold; 
		color: $chocolate;
		float: left;
		font-size: 3em;
		margin: 0;
		
		.tagline {
			font-size: 0.5em;
			@include jura_ital;
			color: $aqua;
		}
	}
	.phone { 
		float: left; 
		width: 100%; 
		margin: 0 0 1em; 
		color: $tan;
		a { color: $tan; }
	}
	.contact { 
		float: right;
		margin: 1em 0 0; 
		a { padding: 0 0.5em; }
	}

	@include media($tablet) {
		h1 {
			line-height: 1.25;
		}

		.tagline {
			display: block; 
				float: left;
		}
		.contact {
			display: block;
			float: left;
			margin: 0.25em 0;
		}
	}
}

.mission {
	@include span-columns(12);
}
.experience {
	.position {
		margin: 1em 0;
		h4 { 
			@include jura_bold;
			color: $aqua;
			margin: 0.5em 0 0;
		}
		.title {
			@include jura_ital;
			margin: 0;
			color: $tan;

			span { color: $chocolate; }
		}
		p { margin: 0.5em 0; }
	}
}


footer {
	p { float: right;}
}

@media print {
 	.tagline {
 		display: block;
 		float: left;
 	}
 	.contact { 
 		display: none;
 	}
}