@font-face {
    font-family: 'jurabold';
    src: url('css/font/jura-bold-webfont.eot');
    src: url('css/font/jura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/font/jura-bold-webfont.woff') format('woff'),
         url('css/font/jura-bold-webfont.ttf') format('truetype'),
         url('css/font/jura-bold-webfont.svg#jurabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jurabold_italic';
    src: url('css/font/jura-bolditalic-webfont.eot');
    src: url('css/font/jura-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/font/jura-bolditalic-webfont.woff') format('woff'),
         url('css/font/jura-bolditalic-webfont.ttf') format('truetype'),
         url('css/font/jura-bolditalic-webfont.svg#jurabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'juraitalic';
    src: url('css/font/jura-italic-webfont.eot');
    src: url('css/font/jura-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/font/jura-italic-webfont.woff') format('woff'),
         url('css/font/jura-italic-webfont.ttf') format('truetype'),
         url('css/font/jura-italic-webfont.svg#juraitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'juraregular';
    src: url('css/font/jura-regular-webfont.eot');
    src: url('css/font/jura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/font/jura-regular-webfont.woff') format('woff'),
         url('css/font/jura-regular-webfont.ttf') format('truetype'),
         url('css/font/jura-regular-webfont.svg#juraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}