@import "_partials/normalize";
@import "_partials/responsive";
@import "_partials/colors";
@import "_partials/base";
@import "_partials/code";


.intro {
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px dashed $gray;

  .title {
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    flex-order: 1;
    flex-grow: 1;
  }

  .about {
    display: block;
    order: 2;
    flex-grow: 1;
  }


  .social {
    order: 3;
    flex-grow: 3;
    text-align: right;

    a {
      border-bottom: transparent;

      &:hover {
        border-bottom: transparent;
      }

      @include tablet {
        margin: 0 1rem;
      }
    }
  }
}

.post {
  padding: 4rem;
  background: $white;
  border-bottom: 1px dashed $gray;
}

.post_tags {

}

.tag {
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
}

.pagination {
  @extend %clearfix;
  margin: 2rem 0;
}

.pagination_next {
  float: right;
  text-align: right;
}

.pagination_prev {
  float: left;
  text-align: left;
}

.bio {
  @extend %clearfix;
  // padding: 5rem 0;
}

.bio_avatar {
  border: 1rem solid darken($alabaster, 10%);
  float: left;
  margin-right: 2rem;
  width: 20rem;
  height: 20rem;
}

.bio_content {
  float: right;
  padding: 4rem 0;
}
